html {
    font-family: "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

body {
    padding: 10px;
    margin-bottom: 100px;
}

h1 {
    position: relative;
    padding: 0.6em;
    background: #e0edff;
    margin-bottom: 40px;
}

h1:after {
    position: absolute;
    content: '';
    top: 100%;
    left: 30px;
    border: 15px solid transparent;
    border-top: 15px solid #e0edff;
    width: 0;
    height: 0;
}

h2 {
    margin-top: 40px;
    padding: 0.4em 0.5em; /*文字の上下 左右の余白*/
    color: #494949; /*文字色*/
    background: #f4f4f4; /*背景色*/
    border-left: solid 5px #7db4e6; /*左線*/
    border-bottom: solid 3px #d7d7d7; /*下線*/
}

section > p {
    padding: 10px;
}

dl {
    margin: 20px 50px 20px 20px;
}

dl dt {
    position: relative;
        padding: 5px 5px 5px 42px;
        background: #77c3df;
        font-size: 20px;
        color: white;
        margin-left: -33px;
        line-height: 1.3;
        z-index:-1;
}

dl dt:before{
     position: absolute;
        content: '';
        left: -2px;
        top: -2px;
        border: none;
        border-left: solid 40px white;
        border-bottom: solid 79px transparent;
        z-index:-2
}

dl dd {
    padding: 5px;
}

ul, ol {
    background: #f0f8ff;
    border-radius :8px;/*角の丸み*/
    box-shadow :0px 0px 5px silver;/*5px=影の広がり具合*/
    padding: 0.5em 0.5em 0.5em 2em;
}
ul li, ol li {
    line-height: 1.5;
    padding: 0.5em 0;
}

footer {
    background: #404040;
    color: white;
    font-size: 80%;
    text-align: center;
    font-weight: bold;
    padding: 2px;
}
